*{
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background-color: #BBB6A5;
}

.nav{
    background-color: #2A2F33;
    /* align-items: center; */
}

#icons {
    align-items: center;
}

#profilePic {
    border-radius: 50%;
    max-width: 20vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#p1{
    align-items: center;
    overflow:hidden;
    height: fit-content;
    width: 100%;
    background: radial-gradient(circle at bottom, rgb(14, 83, 14) 0, black 100%);
}

#p2 {
    align-items: center;
    overflow: hidden;
    border: 1px solid lightslategray;
    background: radial-gradient(circle at top right, rgb(14, 83, 14) 0, black 100%);
    width: 50%;
    height: 50vh;
}

#p3{
    align-items: center;
    overflow: hidden;
    border: 1px solid lightslategray;
    background: radial-gradient(circle at top left, rgb(14, 83, 14) 0, black 100%);
    width: 50%;
    height: 50vh;
}

#cardContainer {
    overflow: hidden;
    min-height: fit-content;
    margin: 5px;
    background: #8C9491;
}

#contactModal {
    animation-name: rotate;
    animation-duration: .5s;
    animation-iteration-count: 2s;
    animation-timing-function: linear;
}

.fa{
    display: inline-block;
    padding: 2px;
    font-size: 30px;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    margin: 5px;
}

.fa-linkedin {
    background: transparent;
    color: #0E76A8;
}

.fa-github {
    color: white;
    background: transparent;
}

.fa-instagram {
    color: #8a3ab9;
    background: transparent;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 778px) {
    main,
    nav {
        flex-direction: column;
    }
    body{
        width: auto;
        margin: 2px;
    }
}